<!DOCTYPE html>
<html>

<body>
    <p>Bună, <strong>{{studentName}}</strong>,</p>
    <p>Vă informăm că examenul la <strong>{{examSubject}}</strong> a fost aprobat. Mai jos sunt detaliile:</p>
    <ul>
        <li><strong>Data:</strong> {{examDate}}</li>
        <li><strong>Ora:</strong> {{examTime}}</li>
        <li><strong>Sala:</strong> {{examRooms}}</li>
    </ul>
    <p>Vă rugăm să vă prezentați la examen cu cel puțin 15 minute înainte de ora programată.</p>
    <p>Mult succes!</p>
    <p>Cu respect,</p>
    <p>Echipa de Management a Examenelor</p>
</body>

</html>